/* ---------------------------about.css -----------------------------*/

/* --------------------*Who are we  *----------------------- */

.about-us {
    background-image: url("../images/plant_big.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 900px;
}

/* --------------------* *----------------------- */

/* --------------------------------big windows-------------------------- */

@media only screen and (max-device-width: 1300px) {
    /* ----------* font *-------------- */
    /* ----------* *-------------- */
    /* ----------* *-------------- */
}

/* -----------------------------ipad-pro-------------------------------- */

@media screen and (max-width: 900px) {
    /* ----------* *-------------- */
    /* ----------* *-------------- */
    /* ----------* *-------------- */
}

/* ------------------------------ipad--------------------------------- */

@media screen and (max-width: 800px) {}

/* -------------------- mobile devices---------------------------- */

@media screen and (max-width: 568px) {}